
*{
	font-family: 'Lato', sans-serif;
	padding: 0px;
	border: 0px;
	margin: 0px;
}
.row{
	margin: 0px;
}
h1 h2 h3 h4 h5 h6{
	margin: 0px;
	line-height: 0;
}
.container-fluid{
	padding: 0px;
} 
#formulario h1, h5, p {
	color: white;
	font-weight: 500;
	margin: 2% 0%;
}
/* navbar - menu - section-one */
.navbar-default {
    background-color: white;
    border-color: width
    height: 100px;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 0px;
    padding: 2% 10%;
}
.navbar-toggle {
    position: relative;
    float: left;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
/* section-two */
.section-two{
	background-image: url(../img/taxi.jpg);
	height: 790px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 92%;
}
.baseone{
	margin-top: 47%;
	background-color: #f7b617;
	height: 50%;
	width: 102.8%;

}
#formulario{
	padding-top: 4%;
	padding-left: 4%;
	padding-bottom: 8%;
}
 #boton2 {
	background-color: white;
	font-weight: bold;
}
input.btn.linea{
	background-color: #f7b617;
	border-bottom: 1px solid white;
}
#logone{
	margin-bottom: -4%;
}
.section-three h2{
	color: white;
}

/* section-three */
.section-three{
	background-color: #f7b617;
	width: 100%;
	height: 600%;
	padding-top: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
}
.basetwo{
	height: 90%;
	width: 30%;
	border: 1px solid white;
	background-color: #f7b617;
	margin-top: 4%;

}
#celularone{
	width: 50vh;
	margin: 0px 10%;
	padding-right: 3%;

}
#rowthree{
	width: 80%;
	height: 30%;
	border: 1px solid white;
	padding: 2%;
}
#basetexto{
	padding-left: 13%;
	font-size: 130%;
}
.section-three p{
	padding-top: 7%;
}

/* section-four */
.section-four{
	background-image: url(../img/conduce.jpg);
	height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 80%;
}
.basethree{
	background: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
	color: white;
	padding-top: 15%;
	padding-bottom: 66%;
	padding-left: 8%;
	padding-right: 4%;
}
#cajaone{
	margin-right: 0;
	padding-right: 0;
}
#boton3{
	background-color: #f7b617;
}
/* section-five */
.section-five{
	background-color: #f7b617;
	width: 100%;
	height: 100%;
}
.section-five h2{
	color: white;
}
#rowfive{
	padding-bottom: 5%;
	padding-top: 5%;
}
#map{
	width: 41%;
	height: 70vh;
	border: 2px solid white;
	margin-left: 5%;
}
#rowinputone{
	padding-left: 20%;

}
#rowinputone input{
	background-color: #f7b617;
	border: 1px solid white;
	width: 60%;
	
}
#rowinputone h1,p,img,input{
	padding-bottom: 5%;
	color: white;
}
#imgcir{
	padding-top: 6%;
	padding-right: 6%;
}
#imgfle{
	padding-top: 6%;
	padding-right: 6%;
}
.sectionfive input{
	width: 7%;
}
#ruta{
	margin-top: 8%;
	margin-left: 25%;
}
button#ruta.btn.btn-default{
	background-color: white;
	
	font-weight: bold;
}
.margen{
	border: 3px solid white;
	padding: 6%;
}
#row2{
	padding-bottom: 4%;
	padding-top: 4%;
}


/* section-six */
.section-six{
	background-color: #2b2b2b ;
	width: 100%;
	height: 100px;
}
#rowsix{
	padding-top: 3% ;
	padding-bottom: 3%;
	background-color: #2b2b2b ;
}
.fa{
	color: white;
}
#redessociales{
	padding-top: 76%;
}
.section-six ul li a{
	text-decoration: none;
	color: white;
	list-style: none;
	padding-bottom: 2%;
}
.section-six ul li{
	padding-bottom: 2%;
}
.section-six ul{
	list-style: none;
}
#ancho{
	width: 20%;
}
#marcas{
	padding-top: 18%;
}
#marcas img{
	padding-top: 5%;
}