
*{
	font-family: 'Lato', sans-serif;
	padding: 0px;
	border: 0px;
	margin: 0px;
}
.row{
	margin: 0px;
}
h1 h2 h3 h4 h5 h6{
	margin: 0px;
	line-height: 0;
}
.container-fluid{
	padding: 0px;
} 
#formulario h1, h5, p {
	color: white;
	font-weight: 500;
	margin: 2% 0%;
}
/* navbar - menu - section-one */
.section-one{
	height: 116px;
	color: white;
}
.navbar-inverse {
    background-color: white;
    border-color: white; 
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: black;
}
.nav li a img {
    max-width: none;
    padding-left: 48%;
    padding-top: 10%;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: white;
    height: 117px;
}
#menuone{
	padding-top: 3%;
	padding-right: 8%;
}
.navbar-inverse .navbar-nav li a {
    color: black;
}
/* section-two */
.section-two{
	background-image: url(../img/taxi.jpg);
	height: 790px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 92%;
}
.baseone{
	margin-top: 47%;
	background-color: #f7b617;
	height: 50%;
	width: 102.8%;

}
#formulario{
	padding-top: 4%;
	padding-left: 4%;
	padding-bottom: 8%;
}
 #boton2 {
	background-color: white;
	font-weight: bold;
}

/* section-three */
.section-three{
	background-color: #f7b617;
	width: 100%;
	height: 600%;
	padding: 6%;
}
.basetwo{
	height: 90%;
	width: 30%;
	border: 1px solid white;
	background-color: #f7b617;
	margin-top: 4%;

}
#celularone{
	width: 50vh;
	margin: 0px 10%;

}


/* section-four */
.section-four{
	background-image: url(../img/conduce.jpg);
	height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 80%;
}
.basethree{
	background: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
	color: white;
	padding-top: 15%;
	padding-bottom: 66,5%;
	padding-left: 8%;
	padding-right: 4%;
}
#cajaone{
	margin-right: 0;
	padding-right: 0;
}
#boton3{
	background-color: #f7b617;
}
/* section-six */
.section-five{
	background-color: #f7b617;
	width: 100%;
	height: 100%;
}
#rowfive{
	padding-bottom: 5%;
	padding-top: 5%;
}
#map{
	width: 41%;
	height: 70vh;
	border: 2px solid white;
	margin-left: 5%;

}

/* section-six */
.section-six{
	background-color: #2b2b2b ;
	width: 100%;
	height: 100px;
}
#rowsix{
	padding-top: 3% ;
	padding-bottom: 3%;
	background-color: #2b2b2b ;
}
.fa{
	color: white;
}
#redessociales{
	padding-top: 76%;
}
.section-six ul li a{
	text-decoration: none;
	color: white;
	list-style: none;
	padding-bottom: 2%;
}
.section-six ul li{
	padding-bottom: 2%;
}
.section-six ul{
	list-style: none;
}
#ancho{
	width: 20%;
}
#marcas{
	padding-top: 18%;
}
#marcas img{
	padding-top: 5%;
}